<header class="header">
  <div class="container header__container">
    <a href="./#hero" class="header__logo logo">
      <span class="logo__text">Infino</span><span class="logo__dot">.</span><span class="logo__sub">Loop</span>
    </a>

    <nav class="header__nav nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="#evolution" class="nav__link">Эволюция</a></li>
        <li class="nav__item"><a href="#tech" class="nav__link">Технологии</a></li>
        <li class="nav__item"><a href="#cases" class="nav__link">Кейсы</a></li>
        <li class="nav__item"><a href="#blog" class="nav__link">Блог</a></li>
      </ul>
    </nav>

    <div class="header__actions">
      <a href="#contact" class="btn btn--primary header__btn">Связаться</a>
      <button class="header__burger" id="burger">
        <span></span>
      </button>
    </div>
  </div>
</header>